header {
    background-color: #ae3e00
}

nav {
    background-color: #ae3e00;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", serif;
    font-weight: 600;
    font-style: normal;
}

.littletextFont {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.orangeBg {
    background-color: #ae3e00;
}

.orangeText {
    color: #ae3e00
}

.secondOrange {
    background-color: #be622f;
}

.secondOrangebd {
    border-color: #be622f;
}

.inputCustom {
    border-color: #666666;
    background-color: #be622f;
}

.textthemeColor {
    color: #c4beb2
}

.backgroundImg {
    position: relative;
    background: url(shoeImage.jpg);
    background-position: center;
    background-size: cover;
}

.shopbgImage {
    min-height: 25em;
    position: relative;
    background: url(shopImage.jpg);
    background-position: center bottom;
    background-size: cover;
}

.shopbgImage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.backgroundImg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#imageBackground {
    min-height: 60dvh;
}

#imageBackground>* {
    position: relative;
    z-index: 2;
}

#background {
    color: aliceblue;
}

.paragraphSpacing {
    line-height: 1.5em;
}

.fontSize {
    font-size: 1.5em;
}

.greyBg {
    background-color: #666666;
}

.blackthemeText {
    color: #212529;
}

.lightgreyBg {
    background-color: #838181;
}


@media screen and (min-width: 576px) {

    .card2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        min-height: 18em;
        background-color: #be622f;
    }

    .card2:nth-child(2) {
        min-height: 23em;
    }

    .cardFloat {
        position: relative;
        top: 7em;
        text-align: center;
    }

    .cardoffsetBottom {
        margin-top: 6em;
    }

    .cardoffsetTop {
        margin-bottom: -8em;
    }

}

@media screen and (max-width: 576px) {
    .floatOrder {
        order: 1;
        text-align: center;
        margin-top: 3em;
    }

    .textOrder {
        order: 2;

    }

    .card2 {
        background-color: #be622f;
    }

    .bottomInfo {
        text-align: center;
    }

    .smallPadding {
        padding: 1em;
    }

    .smallMargin {
        margin-bottom: 3em;
    }

    #sneakerIcon {
        display: none;
    }

    .mobileCenter {
        text-align: center;
    }

    .cardoffsetBottom {
        margin-top: 2em;
    }
}